<!doctype html>
<html lang="en">
<head>
    <title> ABOUT CARS</title>
    <%- include("headerfiles") %>
</head>
<body onload="getdata(); addcars();">
<%- include("adminheader") %>
<section class="inner-banner">
    <div class="container">

        <h2 class="text-center">Manage Cars</h2>
    </div>
</section>
<div class="container">
    <br>
    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal"> Add New Car
    </button>
    <div id="output"></div>
</div>

<div class="modal fade" id="addModal" tabindex="-1" arial-labelledby="exampleModalLabel" arial-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel"> ADD CARS</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" arial-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="form">
                    <div class="row">
                        <div class="col-md-6 mt-2">
                            <label for="type"> Enter Car Type:</label>
                            <select id="type" name="type" class="form-select" required
                                    data-msg-required="Car Type is Required"></select>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="carname"> Enter Car Name:</label>
                            <input type="text" name="carname" id="carname" class="form-control" required
                                   data-msg-required="Carname is Required"/>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="brand"> Enter car Brand :</label>
                            <input type="text" name="brand" id="brand" class="form-control" required/>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="model"> Enter Car Model:</label>
                            <input type="text" name="model" id="model" class="form-control" required/>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="color"> Enter Car Color:</label>
                            <input type="text" name="color" id="color" class="form-control" required/>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="description"> Enter Car Description:</label>
                            <input type="text" name="description" id="description" class="form-control" required/>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="photo"> Car Photo:</label>
                            <input type="file" name="photo" id="photo" class="form-control" required/>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="regno"> Enter Car Registration No.:</label>
                            <input type="text" name="regno" id="regno" class="form-control" required/>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="insurance">Car Insurance validity:</label>
                            <input type="text" id="insurance" name="insurance" class="form-control" required/>
                        </div>
                        <div class="col-md-6 mt-2">
                            <label for="rent"> Enter Car Rent :</label>
                            <input type="text" name="rent" id="rent" class="form-control" required/>
                        </div>


                        <div class="col-md-6 mt-2">
                            <button type="button" onclick="cars()" class="btn btn-primary btn-lg">Submit</button>
                        </div>
                        <div id="output"></div>
                    </div>

                </form>
                <div id="response"></div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<%- include("footer") %>
<%- include("footer-scripts") %>
<script src="/dist/jquery.validate.js"></script>

<script>
    function getdata() {
        var http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                let data = JSON.parse(this.response);
                console.log(data);
                let html = "<option value=''>Select</option>";
                for (let i = 0; i < data.length; i++) {
                    html += "<option value=" + data[i].type + " >" + data[i].type + "</option>"

                }
                document.getElementById("type").innerHTML = html;

            }
        }
        http.open("get", "/admin/getTaxiType ", true);
        http.send();
    }

    // add
    let cars = () => {
        $("form").validate();
        if ($("form").valid()) {
            let formData = new FormData();
            var ele = document.getElementById("form").elements;
            for (let i = 0; i < ele.length; i++) {
                if (ele[i].type !== "button") {
                    if (ele[i].type === "file")
                        formData.append(ele[i].name, ele[i].files[0]);
                    formData.append(ele[i].name, ele[i].value);
                }
            }
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState === 4 && this.status === 200) {
                    console.log(this.response)
                    if (this.response == "inserted") {
                        document.getElementById("form").reset();
                        document.getElementById("response").innerHTML = "Data added successfully";
                    } else {
                        alert("Car Already Exist");
                    }
                }
            }
            http.open("post", "/admin/carsaction", true);
            http.send(formData);

        }
    }

    // view
    function addcars() {
        var http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                console.log(JSON.parse(this.response));
                let output = '<div class="table-responsive"><table class="table">' +
                    '<tr> <th> Sr.No.</th><th>Car Name</th><th> Brand</th><th> Model</th><th>Color</th><th>Description</th><th>Photo</th><th>Registration No.</th><th>Insurance validity</th><th>Rent</th><th>Status</th><th>Cartype</th></tr>';
                if (this.response != "no data found") {
                    let srno = 1;
                    let data = JSON.parse(this.response);
                    for (let i = 0; i < data.length; i++) {
                        output += '<tr>' +
                            '<td>' + (i + 1) + '</td>' +
                            // '<td>' + data[i].id + '</td>' +
                            '<td>' + data[i].carname + '</td>' +
                            '<td>' + data[i].brand + '</td>' +
                            '<td>' + data[i].model + '</td>' +
                            '<td>' + data[i].color + '</td>' +
                            '<td>' + data[i].description + '</td>' +
                            '<td><img src="' + data[i].photo + '" alt="" style="height: 60px" /></td>' +
                            '<td>' + data[i].reg_no + '</td>' +
                            '<td>' + data[i].insurance_validity + '</td>' +
                            '<td>' + data[i].rent + '</td>' +
                            '<td>' + data[i].status + '</td>' +
                            '<td>' + data[i].type + '</td>' +
                            '<tr>'
                        srno++;
                    }
                }
                output += '</table></div>';
                document.getElementById("output").innerHTML = output;
            }
        }
        http.open("get", "/admin/addcarsaction", true);
        http.send();
    }

</script>

</body>
</html>