<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("headerfiles") %>
    <title>Document</title>
</head>
<body onload="viewcities()">
<%- include("adminheader") %>
<section class="inner-banner mb-2">
    <div class="container">
        <h1> Cities Currently Available </h1>

    </div>
</section>
<div class="container">
    <button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#addcityModal">
        Add City
    </button>
    <br>
    <div id="output"></div>
    <div class="modal fade" id="addcityModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">CITY</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="cityform">
                        <div class="row">
                            <div class="col-md-6 ">
                                <label for="cityname"> Enter City Name: </label>
                                <input type="text" name="cityname" id="cityname" class="form-control" required
                                       data-msg-required="City Name is required"/>

                            </div>
                            <div class="col-md-6 ">
                                <label for="photo"> Enter Cover Photo of the city: </label>
                                <input type="file" name="photo" id="photo" class="form-control"/>

                            </div>
                            <div class="col-md-6 mt-2">
                                <button type="button" onclick="city()" class="btn btn-primary btn-lg"> SUBMIT
                                </button>
                            </div>
                            <div id="output1"></div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>

</div>
<br>
<%- include("footer") %>
<%- include("footer-scripts") %>
<!--<script src="/dist/jquery-3.6.3.js"></script>-->
<script src="/dist/jquery.validate.js"></script>
<script>
    function viewcities() {
        var http = new XMLHttpRequest();
        http.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                let output = '<table class="table table-dark">' +
                    '<tr class="text-center"> <th>Car id </th> <th> City name</th>   <th>Photo </th>  </tr>';
                if (this.response != "no data found") {
                    let data = JSON.parse(this.response);
                    for (let i = 0; i < data.length; i++) {
                        output += '<tr class="text-center">' +
                            '<td>' + data[i].cityid + '</td>' +
                            '<td>' + data[i].cityname + '</td>' +
                            '<td><img src="' + data[i].cityphoto + '" alt= "" style="height:130px;width:100%;" class="img-fluid"/></td>' +
                            '</tr>';
                    }
                }
                output += '</table>';
                document.getElementById("output").innerHTML = output;

            }
        }
        http.open("get", "/admin/viewcity", true);
        http.send();
    }


    let city = () => {
        $("#cityform").validate;
        if ($("#cityform").valid()) {
            var cityname = document.getElementById("cityname").value;
            var photo = document.getElementById("photo").files[0];
            let formData = new FormData();
            formData.append("cityname", cityname);
            formData.append("photo", photo);
            var http = new XMLHttpRequest();
            http.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if (this.response == "inserted") {
                        document.getElementById("cityform").reset();
                        document.getElementById("output1").innerHTML = "City added successfully";
                        viewcities();
                    }
                }
            }
            http.open("post", "/admin/cityaction", true);
            http.send(formData);

        }
    }
</script>

</body>
</html>