<!--
<div class="preloader"></div>&lt;!&ndash; /.preloader &ndash;&gt;

<header class="site-header header-one">
    <div class="top-bar">
        <div class="container">
            <div class="left-block">
                <a href="#"><i class="fa fa-user-circle"></i> About Us</a>
                <a href="#"><i class="fa fa-envelope"></i> needhelp@conexi.com</a>
            </div>&lt;!&ndash; /.left-block &ndash;&gt;
            <div class="logo-block">
                <a href="/user/userhome"><img src="/images/resources/logo-1-1.png" alt="Awesome Image"/></a>
            </div>&lt;!&ndash; /.logo-block &ndash;&gt;
            <div class="social-block">
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-facebook-f"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </div>&lt;!&ndash; /.social-block &ndash;&gt;
        </div>&lt;!&ndash; /.container &ndash;&gt;
    </div>&lt;!&ndash; /.top-bar &ndash;&gt;
    <nav class="navbar navbar-expand-lg navbar-light header-navigation stricky">
        <div class="container clearfix">
            &lt;!&ndash; Brand and toggle get grouped for better mobile display &ndash;&gt;
            <div class="logo-box clearfix">
                <button class="menu-toggler" data-target="#main-nav-bar">
                    <span class="fa fa-bars"></span>
                </button>
            </div>&lt;!&ndash; /.logo-box &ndash;&gt;
            &lt;!&ndash; Collect the nav links, forms, and other content for toggling &ndash;&gt;
            <div class="main-navigation" id="main-nav-bar">
                <ul class="navigation-box">
                    <li class=" current ">
                        <a href="/user/"> Home</a>
                    </li>
                    <li class=" current ">
                        <a href="/user/userhome"> My Bookings</a>
                    </li>

                    <li>
                        <a href="#"> Settings</a>
                        <ul class="sub-menu">

                            <li><a href="/user/userchangepassword">CHANGE PASSWORD</a></li>
                            <li><a href="/user/logout">LOGOUT</a></li>

                        </ul>&lt;!&ndash; /.sub-menu &ndash;&gt;
                    </li>
                </ul>
                <div class="right-side-box">
                    <a href="callto:888-888-0000" class="contact-btn-block">
                            <span class="icon-block">
                                <i class="conexi-icon-phone-call"></i>
                            </span>
                        <span class="text-block">
                                888 888 0000
                                <span class="tag-line">Phone line</span>
                            </span>
                    </a>
                </div>&lt;!&ndash; /.right-side-box &ndash;&gt;

            </div>&lt;!&ndash; /.navbar-collapse &ndash;&gt;

        </div>
        &lt;!&ndash; /.container &ndash;&gt;
    </nav>
</header>&lt;!&ndash; /.site-header header-one &ndash;&gt;

-->
<div class="preloader">
    <div class="loader-ripple">
        <div></div>
        <div></div>
    </div>
</div>

<header class="header">
    <div class="main-navigation">
        <nav class="navbar navbar-expand-lg">
            <div class="container position-relative">
                <a class="navbar-brand" href="/user/">
                    <img src="/assets/img/logo/logo.png" alt="logo">
                </a>
                <div class="mobile-menu-right">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main_nav"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-mobile-icon"><i class="far fa-bars"></i></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="main_nav">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/user/">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/user/my-bookings">My Bookings</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Settings</a>
                            <ul class="dropdown-menu fade-down">
                                <li><a class="dropdown-item" href="/user/userchangepassword">Change Password</a></li>
                                <li><a class="dropdown-item" href="/user/logout">Logout</a></li>
                            </ul>
                        </li>

                    </ul>
                    <div class="nav-right">

                        <div class="nav-right-btn mt-2">
                            <a href="/user/" class="theme-btn"><span class="fas fa-taxi"></span>Book A Taxi</a>
                        </div>
                        <div class="sidebar-btn">
                            <button type="button" class="nav-right-link"><i class="far fa-bars-filter"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </nav>
    </div>
</header>